@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --card: 210 100% 99%;
  --card-foreground: 222 47% 11%;
  --primary: 221 83% 53%;
  --muted: 215 20% 96%;
  --muted-foreground: 222 12% 40%;
  --border: 214 32% 91%;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 214 32% 91%;
  --card: 223 36% 17%;
  --card-foreground: 214 32% 91%;
  --primary: 221 83% 75%;
  --muted: 223 36% 17%;
  --muted-foreground: 214 32% 91%;
  --border: 217 16% 35%;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
